*{
    margin: 0px;
}
.name {
    float: left;
    margin-left: 50px;
    padding: 20px;
}

.section {
    height: 50px;
    width: auto;
    border: 2px solid green;
}

.CartItems {
    height: 500px;
    width: inherit;
    border: 2px solid red;
}
